body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(30, 30, 30);
  padding: 3rem;
  color: #eee;
}

h1 {
  text-align: center;
}

#viewer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#drag-drop {
  border-image: linear-gradient(rgb(125, 115, 187), rgba(200, 50, 100)) 1;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.075);
  width: 60vw;
  height: 15vh;
  margin: auto;
  margin-top: 4vh;
	font-size: 24px;
  font-family: 'Montserrat';
	display: flex;
	justify-content: center;
	align-items: center;
  transition: 0.2s ease-in-out;
}

#drag-drop a:hover {
  cursor: pointer;
  color: aquamarine;
  border-bottom: 1px solid aquamarine;
}

.drag-over {
	background-color: rgba(255, 255, 255, 0.15) !important;
  font-size: 23px !important;
}

.drag-over span {
  user-select: none;
  pointer-events: none;
}

.chart-container {
  display: flex;
  flex-direction: row;
  height: 12vh;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

.remove-button {
  cursor: pointer;
  font-size: 1.5rem;
}

.remove-button:hover {
  color: #aaa;
}

#legend-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

#legend-red {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 2rem 0 0.5rem;
  border: 3px solid red;
}

#legend-yellow {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 2rem 0 0.5rem;
  border: 3px solid yellow;
}

#legend-both {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 2rem 0 0.5rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(red 45%, yellow 55%);
  border-image-slice: 8;
}