body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(30, 30, 30); */
  background-color: rgba(50, 50, 50);

}

#viewer-container {
  height: 20vh;
  /* border: 1px solid #555; */
}

#drop-area {
  border: 4px dashed aquamarine;
  background-color: rgba(255, 255, 255, 0.1);
  width: 60vw;
  height: 15vh;
  margin: auto;
  margin-top: 4vh;
}

#drop-area .dragOver {
  border: 4px dashed slateblue;
}